<!--temporary view accessible via home/index -->
@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<form asp-controller="Checkout" asp-action="CreateLink" method="get">
    <button type="submit" class="btn btn-primary">Pay with Square</button>
</form>
