@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Test Link to the Checkout Index view -->
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Go to Checkout</a>
</div>
